@import "ember-power-select";

main {
  padding-top: 50px;
}

.ember-power-select-trigger {
  max-width: 200px;
}

.items {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;

  .food-item {
    flex-basis: 250px;
    margin: 5px !important;
    cursor: pointer;
    font-size: 110%;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  small {
    font-size: 70%;
    display: inline-block;
    margin-left: 5px;
  }

  &.compact {
    display: block;

    .food-item {
      // padding: 0;

      h3 {
        margin: 0;
        margin-bottom: 10px;
      }

      .ui.list {
        margin: 2px;
      }
    }

    img {
      display: none;
    }
  }
}

.ui.buttons {
  margin: 20px 0;
}

.food-item {
  .transfer {
    font-size: 110%;
  }
}
