<div class="ui top fixed menu">
    <div class="brand item"><h1>Předáno.cz</h1></div>
    {{link-to "NGO View (Order)" "index" class="item"}}
    {{link-to "PB View (Overview)" "all" class="item"}}
    {{link-to "Store View (Statistics and import)" "stores" class="item"}}
</div>

<main class="ui container">
  {{outlet}}
</main>
